<!DOCTYPE html>
<html lang="da">
    <head>
        <title>Kommentarer</title>
    </head>
    <body>

        <script>

            // Her kommentere vi på en enkelt linie.
            console.log('Kommentar på en linie')
        
            /*
                Her kommentere vi på flere linier.
                Således kan vi lave en fyldig beskrivelse af
                vore funktioner og metoder.
            */
            console.log('Kommentar på flere linier')
        </script>
    </body>
</html>