<!DOCTYPE html>
<html lang="da">
    <head>
        <title>Dom Manipulation</title>
    </head>
    <body>
        <h2>Overskrift</h2>

        <p id="elementId"></p>
        <p class="text01"></p>
        <p name="text02"></p>
        <p test="text03"></p>
        
        <p class="text"></p>
        <p class="text"></p>
        <p class="text"></p>
        <p class="text"></p>
        <p class="text"></p>

        <script>
        
            let newTextByQuerySelectorId = document.querySelector('#elementId');
            newTextByQuerySelectorId.innerText = 'Ny tekst'

            let newTextByQuerySelectorClass = document.querySelector('.text01');
            newTextByQuerySelectorClass.innerText = 'Ny tekst'

            let newTextByQuerySelectorName = document.querySelector('[name="text02"]');
            newTextByQuerySelectorName.innerText = 'Ny tekst'

            let newTextByQueryAttribut = document.querySelector('[test="text03"]');
            newTextByQuerAttribut.innerText = 'Ny tekst'

            let newTextByQuerySelectorAllTexts = document.querySelectorAll('.text');
            newTextByQuerySelectorAllTexts.forEach((element, index) => {

                element.innerText = 'Ny tekst ' + index;

            });
    
        </script>

    </body>
</html>